<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime Rating </title>
</head>
<body>
       <h2> Anime Rating Data </h2>
       <h3>Welcome come to a website, find the most popular anime in recent years!</h3>
       <p>Look at two links below, one will take you to the page which shows Anime rating details.</p>
       <p>And the other link will take you to the page which shows graders details</p>
       <p><a href="Anime_details">Anime_details</a> | <a href="User_rating">Graders</a></p>

</body>
</html>