<html>
<head>
  <title>Anime Rating: Grader Details</title>


<!--    <h1>Anime Rating: Grader Details</h1>-->

<!--    <p>Anime:-->
<!--       <b> {{ grader[0]["id"] }}</b> |-->
<!--       Rated : {{ grader[1]['anime_id'] }} |-->
<!--    </p>-->
<!--    <p>Grader:-->
<!--      <a href="Anime_details" class="button">{{row["Anime_id"]}}</a>-->
<!--    </p>-->

<body>
    <h1>Other Page</h1>
    <p>The id value is: {{ id_value }}</p>
</body>
</html>

<!--    <p>Details of grader in the anime:</p>-->
<!--    {% for detail in details %}-->
<!--    <p>-->
<!--       <b> {{ detail["id"] }}</b> |-->
<!--       Rate: {{ detail["rate"] }} |-->
<!--       Anime_Name: {{ detail["anime_name"] }} |-->
<!--       Anime_ID: {{ detail["anime_id"] }} |-->
<!--       Grader_ID: {{ detail["grader_id"] }}-->
<!--    </p>-->
<!--    {% endfor %}-->
</body>
</html>